[defaults]
inventory = ./inventory
remote_uer = ansible
roles_path = ./roles
host_key_checking = false
deprecation_warnings = false

[privilege_escalation]
become = true
become_user = root
become_method = sudo
